<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1517845732/1517845731.jpg);">
  <div class="container">
    <h1>All the <strong>movies</strong> in list !</h1>
    <p>Here we are going to post all the movies divided in lists.</p>
    <%= link_to "Add new list", new_list_path, class: "btn btn-secondary" %>
  </div>
</div>

<div class="cards p-1 my-3 mx-2">
  <% @list.each do |list| %>
    <%= link_to list_path(list), class: "card--hover", style:"text-decoration: none;" do %>
      <% if list.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/seed/picsum/180/300)">
      <% end %>
        <p><%= list.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
